<nav class="menu-bar">
    <ul>
        <a href="homepage"><li><i class="fa fa-home" aria-hidden="true"></i><br><br>Homepage<br><br></li></a>
        <a href="#"><li><i class="fa fa-file" aria-hidden="true"></i><br><br>Previous Template<br><br></li></a>
        <a href="#"><li><i class="fa fa-envelope" aria-hidden="true"></i><br><br>SMS History</li></a>
        <a href="#"><li><i class="fa fa-user" aria-hidden="true"></i><br><br>Profile</li></a>
        <a href="help"><li><i class="fa fa-question-circle-o" aria-hidden="true"></i><br><br>Help</li></a>
    </ul>
</nav>