<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/page1.css">
        <script
                src="https://code.jquery.com/jquery-3.1.1.min.js"
                integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
                crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    </head>
    <body>
        <nav class="nav">
            <ul>
                <li>Welcome, (name of the class advisor)</li>
                <li class="logout"><a href="#">Logout</a></li>
            </ul>
        </nav>
        <div class="container">
            <nav class="menu-bar">
                <ul>
                    <a href="#"><li><i class="fa fa-file" aria-hidden="true"></i><br><br>Previous Template<br><br></li></a>
                    <a href="#"><li><i class="fa fa-envelope" aria-hidden="true"></i><br><br>SMS Notifications</li></a>
                    <a href="#"><li><i class="fa fa-user" aria-hidden="true"></i><br><br>Profile</li></a>
                    <a href="#"><li><i class="fa fa-question-circle-o" aria-hidden="true"></i><br><br>Help</li></a>
                </ul>
            </nav>
            <div class="content">
                <div class="heading">This is a Header</div>
                <input type="button" id="download" value="Download Template">
            </div>
        </div>
        <script type="text/javascript">
            $("#download").click(function () {
                window.open('/homepage/download');
                /*$.ajax({
                    method: 'GET',
                    url: '/homepage/download',          /////NOT NEEDED! WILL CAUSE UNWANTED RESULTS IF USED!!/////
                    data: 'foo',
                    success: function (data) {
                        console.log("success");
                    }
                });*/
            });
        </script>
    </body>
</html>