<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/previousTemplate.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/loader.css">
    </head>
    <body onload="myFunction()">
        <div id="loader" class="spinner child"></div>
        <nav class="nav">
            <ul>
                <li style="width:12%; line-height:4"><abbr title="Home"><a href="#"><i class="fa fa-home" aria-hidden="true"></i></a></abbr></li>
                <li class="logout"><a href="#">Logout</a></li>
            </ul>
        </nav>
        <div class="container">
             <nav class="menu-bar">
                <ul>
                    <a href="previousTemplate.ejs"><li id="prevli"><i class="fa fa-file" aria-hidden="true"></i><br><br>Previous Template<br><br></li></a>
                    <a href="sms.ejs"><li><i class="fa fa-envelope" aria-hidden="true"></i><br><br>SMS Notifications</li></a>
                    <a href="profile.ejs"><li><i class="fa fa-user" aria-hidden="true"></i><br><br>Profile</li></a>
                    <a href="#"><li><i class="fa fa-question-circle-o" aria-hidden="true"></i><br><br>Help</li></a>
                </ul>
            </nav>
            <div class="content" style="display:none;" id="myDiv">
                <div class="heading">Previous Template</div>
                
            </div>
        </div>
        <script>
            var myVar;
            
            function myFunction() {
                myVar = setTimeout(showPage, 3000);
            }
            
            function showPage() {
                document.getElementById("loader").style.display = "none";
                document.getElementById("myDiv").style.display = "block";
                
            }
        </script>
    </body>
</html>