<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/profile.css">
    </head>
    <body>
        <%include tpl/menu.ejs%>
        <div class="container">
             <%include tpl/nav.ejs%>
            <div class="content">
                <div class="side-bar">
                    <div class="side-name">
                        <h2 id="faculty_name">NAME SURNAME</h2>
                        <br>
                        <h5 style="font-weight:100">Faculty, BVCOE Navi Mumbai</h5>
                        <a href="#"><input type="button" value= "View Sheet"></a>
                    </div>
                </div>
                <div class="profile-details">
                    <div class="profile-info">
                        <abbr title="UID"><img src="/images/uid.png"></abbr><p id="uid">UID number</p>
                    </div>
                    <div class="profile-info">
                        <abbr title="Semester"><img src="/images/semester.png"></abbr><p id="sem">Semester</p>
                    </div>
                    <div class="profile-info">
                        <abbr title="Email"><img src="/images/email.png"></abbr><p id="email">Email Address</p>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(window).ready(function () {
                $.ajax({
                    url: "../../aja"
                })
            });
        </script>
    </body>
</html>

<!--
                        <abbr title="Semester"><img src="images/semester.png"></abbr><p>Semester</p>
                        <abbr title="Email"><img src="images/email.png"></abbr><p>Email Address</p> -->