<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="profile.css">
    </head>
    <body>
        <nav class="nav">
            <ul>
                <li style="width:12%; line-height:4"><abbr title="Home"><a href="page1.html"><i class="fa fa-home" aria-hidden="true"></i></a></abbr></li>
                <li class="logout"><a href="login.html">Logout</a></li>
            </ul>
        </nav>
        <div class="container">
             <nav class="menu-bar">
                <ul>
                    <a href="previousTemplate.ejs"><li><i class="fa fa-file" aria-hidden="true"></i><br><br>Previous Template<br><br></li></a>
                    <a href="sms.ejs"><li><i class="fa fa-envelope" aria-hidden="true"></i><br><br>SMS Notifications</li></a>
                    <a href="profile.ejs"><li id="profileli"><i class="fa fa-user" aria-hidden="true"></i><br><br>Profile</li></a>
                    <a href="#"><li><i class="fa fa-question-circle-o" aria-hidden="true"></i><br><br>Help</li></a>
                </ul>
            </nav>
            <div class="content">
                <div class="side-bar">
                    <div class="side-name">
                        <h2>NAME SURNAME</h2>
                        <br>
                        <h5 style="font-weight:100">Class Advisor</h5>
                        <a href="#"><input type="button" value= "View Sheet"></a>
                    </div>
                </div>
                <div class="profile-details">
                    <div class="profile-info">
                        <abbr title="UID"><img src="images/uid.png"></abbr><p>UID number</p>
                    </div>
                    <div class="profile-info">
                        <abbr title="Semester"><img src="images/semester.png"></abbr><p>Semester</p>
                    </div>
                    <div class="profile-info">
                        <abbr title="Email"><img src="images/email.png"></abbr><p>Email Address</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

<!--
                        <abbr title="Semester"><img src="images/semester.png"></abbr><p>Semester</p>
                        <abbr title="Email"><img src="images/email.png"></abbr><p>Email Address</p> -->