            @font-face {
                font-family: title;
                src: url("../fonts/juli.ttf");
            }

            * {
                margin: 0;
                padding:0;
            }
            
            html,body {
                width: 100%;
                height: 100%;
            }
            
            .container {
                width: 100%;
                height: 100%;
                background: #928DAB; /* For browsers that do not support gradients */    
                background: -webkit-linear-gradient(left top, #928DAB, #1F1C2C); /* For Safari 5.1 to 6.0 */
                background: -o-linear-gradient(bottom right, #928DAB, #1F1C2C); /* For Opera 11.1 to 12.0 */
                background: -moz-linear-gradient(bottom right, #928DAB, #1F1C2C); /* For Firefox 3.6 to 15 */
                background: linear-gradient(to bottom right, #928DAB, #1F1C2C); /* Standard syntax (must be last) */
            }
            
            nav {
                width: 100%;
                height: 10%;
                background-color: #15131d;
            }
            
            header {
                width: 70%;
                height: 10%;
                text-align: center;
                line-height: 2;
                font-size: 30px;
                font-family: sans-serif;
                font-weight: 600;
                margin: 0 auto;
                padding: 1em 2em;
                letter-spacing: 2px;
            }
            
            .signuptext {
                text-align: center;
                width: 30%;
                height: 8%;
                padding: 0em 1em;
                margin: 0 auto;
                font-family: title;
                font-size: 24px;
                font-weight: 700;
            }
            
            form {
                max-width: 80%;
                height: auto;
                margin: 0 auto;
                padding: 1em 2em;
                text-align: center;
            }
            
            span {
                position: absolute;
                left: 63%;
                line-height: 2.3;
            }

            input.ng-touched {
                outline: 1px solid darkred;
                border: none;
            }

            input.ng-valid {
                outline: 1px solid #02c302;
                border: none;
            }

            #nameID {
                position: relative;
                animation: slidebox 1.8s ease;
            }
            
            #uniqueID {
                position: relative;
                animation: slidebox 1.6s ease;
            }
            
            #semID {
                position: relative;
                animation: slidebox 1.4s ease;
            }
            
            input[type="text"] {
                width: 25%;
                height: 15%;
                padding: 0.9em 1.5em;
                margin-bottom: 1.5%;
                background: #1F1C2C;
                border: none;
                color: white;
                box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.4);
            }

            input[type="number"] {
                width: 25%;
                height: 15%;
                padding: 0.9em 1.5em;
                margin-bottom: 1.5%;
                background: #1F1C2C;
                border: none;
                color: white;
                box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.4);
            }
            
            input[type="email"] {
                width: 25%;
                height: 15%;
                padding: 0.9em 1.5em;
                margin-bottom: 1.5%;
                border: none;
                background: #1F1C2C;
                color: white;
                box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.4);
                position: relative;
                animation: slidebox 1.2s ease
            }
            
            input[type="password"] {
                width: 25%;
                height: 15%;
                padding: 0.9em 1.5em;
                border: none;
                background: #1F1C2C;
                color: white;
                box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.4);
                position: relative;
                animation: slidebox 1s ease;
            }   

            button[type="submit"] {
                width: 30%;
                height: 15%;
                padding: 1.3em 1em;
                background-color: black;
                color: #626060;
                font-size: 15px;
                font-weight: 100;
                border: none;
                box-shadow: -6px 7px 8px rgba(0,0,0,0.6);
                transition: all 0.4s ease;
            }
        
            button[type="submit"]:hover {
                cursor: pointer;
                box-shadow: 10px 12px 15px rgba(0,0,0,0.6);
                color: #dddddd;
            }
            
            button[type="submit"]:focus {
                outline: none;
            }
            
            #loginLink {
                font-size: 16px;
                font-weight: 500;
            }
            
            #loginLink a{
                color: #959191;
                text-align: center;
            }
            
            footer {
                width: 100%;
                background: #15131d;
            }
            
            #copyright {
                width: 90%;
                padding: 0.3em 0;
                margin: 0 auto;
                position: relative;
                bottom: 0;
                color: #696565;
            }
            
            @keyframes slidebox {
                0% {
                    left: 100%;
                }
                
                100% {
                    left: 0%;
                }
            }